---
import { contactData } from '../../data/contact'

interface Props {
	lang: string
}

const { lang } = Astro.props
const { title, form, sorryMsg, btnText, welcomeText } = contactData[lang]
---
<section class=" mb-24 sm:mb-24 md:mb-48 flex flex-wrap" id="contact">
	<article class="sm:w-1/2 relative sm:flex sm:flex-col sm:px-12 items-center justify-center mb-8">
		<div class="small-hexagon"></div>
		<h2 class="text-4xl md:text-6xl text-amber-400 font-extrabold mb-8">{title}</h2>
		<p>{welcomeText} 😊</p>
	</article>
	<section class="w-full sm:w-1/2 ">
		<form method="POST" id="contact-form" class="w-full border border-crimson bg-gradient-to-tl from-crimson/35 to-transparent rounded-md p-10">
			<div class="mb-8">
			 
			  <input type="text" id="name" name="name" required class="p-2 mt-1 border-b border-crimson bg-crimson/10 w-full focus:border-b-2 focus:shadow-crimson focus:shadow-sm" placeholder={form.name}/>
			</div>
		  
			<div class="mb-8">
			 
			  <input type="email" id="email" name="email" required class="p-2 mt-1 border-b border-crimson bg-crimson/10 w-full focus:border-b-2 focus:shadow-crimson focus:shadow-sm" placeholder={form.email}/>
			</div>
		  
			<div class="mb-4">
			  <label for="message" class="pl-2 text-white opacity-55">{form.message}</label>
			  <textarea id="message" name="message" rows="4" required class="p-2 mt-1 border-b border-crimson bg-crimson/10 w-full focus:border-b-2 focus:shadow-crimson focus:shadow-sm">
			</textarea>
			</div>
	
			<input type="hidden" id="lang" value={lang}>
			<button type="submit" class="w-full cursor-pointer text-xs text-ellipsis text-nowrap rounded-full border border-crimson bg-crimson/10 mb-2 flex justify-center items-center gap-x-2 py-2 px-3 hover:scale-105 transition-all ease-in-out hover:bg-crimson/50 hover:font-medium">{form.submit}</button>
		  </form>
		  <article id="resolve-box" class="w-full border border-crimson bg-gradient-to-tl from-crimson/35 to-transparent rounded-md p-10 hidden text-center">
			<p id="response-message" class="mb-2 text-lg opacity-85"></p>
			<p id="error-message" class="mb-4 text-sm opacity-50 hidden">{sorryMsg}</p>

			<!-- <button type="submit" class="w-full cursor-pointer text-xs text-ellipsis text-nowrap rounded-full border border-crimson bg-crimson/10 mb-2 flex justify-center items-center gap-x-2 py-2 px-3 hover:scale-105 transition-all ease-in-out hover:bg-crimson/50 hover:font-medium">{btnText}</button> -->
		  </article>
	</section>
</section>
<script>
	const $ = (element) => document.querySelector(element); 
	const form = $('#contact-form');
	const resolveBox = $('#resolve-box');
	const responseMsgConatiner = $('#response-message');
	const errorMsgContainer = $('#error-message');
	const retryBtn = $('#retry-btn');
	const handleFormResponse = (status, response) => {
		form.classList.add('hidden');
		resolveBox.classList.remove('hidden');
		if (status === 'error') {
			responseMsgConatiner.textContent = response.message;
			errorMsgContainer.classList.remove('hidden');
		} else {
			responseMsgConatiner.textContent = response.message;
		}
		
	}


	form.addEventListener('submit', async (e) => {
		e.preventDefault();
		const formData = {
			name: $('#name').value,
			email: $('#email').value,
			message: $('#message').value,
			lang: $('#lang').value
		}

		try {
			const response = await fetch('/api/contact', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify(formData)
			})
			const data = await response.json();
			if (response.ok) {
				handleFormResponse('success', data);
			} else {
				handleFormResponse('error', data);
			}
	
		} catch (error) {
			handleFormResponse('error', error);
		}
	});

</script>