---
import Github from '../icons/Github.astro'
import Linkedin from '../icons/Linkedin.astro'
import Mail from '../icons/Mail.astro'
import Badge from '../ui/Badge.astro'
import SocialButton from '../ui/SocialButton.astro'
import ProfilePicture from '../ProfilePicture.astro'
import Whatsapp from '../icons/Whatsapp.astro'
import Cv from '../icons/Cv.astro'
import { introPageData } from '../../data/intro'

interface Props {
	lang: string
}

const { lang } = Astro.props
---
<section class="jobs w-100 flex flex-wrap pt-10 mb-24 sm:pt-24 sm:mb-24 md:pt-48 md:mb-48" id="home">
	<article class=" md:w-2/3">
		<header class="flex max-sm:flex-wrap justify-start sm:items-center mb-4">
			<h1 class="text-4xl text-amber-400 font-extrabold max-sm:w-full mb-4 sm:mb-0 sm:mr-4">Jorge Aguirre </h1>
			<Badge>{introPageData[lang].cta}</Badge>
		</header>
		<p class="text-pretty  opacity-90 max-w-[500px]" set:html={introPageData[lang].intro} >
			
		</p>
		<p class="mb-4">
			<a class="opacity-35 text-xs hover:animate-pulse hover:text-amber-400 hover:font-bold hover:text-lg hover:opacity-100 transition-all ease-in-out" href={lang === "es" ? "/side-b" : "/en/side-b"}>{introPageData[lang].cta2}</a>
		</p> 
		<nav class="mb-6 sm:flex sm:flex-wrap sm:gap-x-3">
			<SocialButton href="https://www.linkedin.com/in/jorge-aguirre-concha/" blank>
				<Linkedin class="size-6"/>
				LinkedIn
			</SocialButton>
			<SocialButton href="https://github.com/4Tr3Yu" blank>
				<Github class="size-6"/>
				Github
			</SocialButton>
			<SocialButton href="https://wa.me/+56982140262" blank>
				<Whatsapp class="size-6" />
				Whatsapp
			</SocialButton>
			<SocialButton href="mailto:jorgef.aguir@gmail.com" cp sendMail>
				<Mail class="size-6"/>
				jorgef.aguir@gmail.com
			</SocialButton>
			<SocialButton href={`/files/Jorge_Aguirre-${lang}.pdf`} download={`Jorge_Aguirre-${lang}.pdf`}>
				<Cv class="size-6"/>
				CV
			</SocialButton>
		</nav>
	</article>
	<ProfilePicture class="img-container relative w-full md:w-1/3 flex justify-center "/>
	
</section>
<style lang="scss">
	
	.text-transparent {
		color: transparent;
	}
</style>