---
interface Props {
	title: string;
	body: string;
	href: string;
	imgSrc: string;
	iconSrc: string;
}

const { href, title, body, imgSrc, iconSrc } = Astro.props;
---

<div class="card">
	<div class="img-container">
		<img src={imgSrc} alt={title} />
	</div>
	<div class="card-body">
		<h2>{title}</h2>
		<p>{body}</p>
		<img src={iconSrc} alt="">
	</div>
</div>
